
/*@media only screen and (max-width: 1080px), only screen and (max-device-width:1080px) {*/
    /*html,body {*/
        /*font-size:16.875px;*/
    /*}*/
/*}*/
/*@media only screen and (max-width: 960px), only screen and (max-device-width:960px) {*/
    /*html,body {*/
        /*font-size:15px;*/
    /*}*/
/*}*/






html,body{

   height: 100%;
}





*{
    margin: 0;
    padding: 0;
}

body{


   padding-top: 70px;
}

/*#navBar{*/
    /*height: 4rem;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
    /*background-color: rgba(248, 248, 255, 0.3);*/
     /*justify-content: space-between; */
/*}*/
/*#navBar:hover{*/
    /*background-color: rgba(248, 248, 255, 0.5);*/
/*}*/

.brand{
  display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 1rem;
}
/*.zhiku{*/
    /*height: 2rem;*/
    /*margin-left: 3rem;*/
/*}*/
/*.account{*/
    /*width: 6rem;*/
    /*text-align: center;*/
    /*height: 4rem;*/
    /*float: right;*/
    /*background-color: rgba(135, 206, 250, 0.5);*/
    /*color: white;*/
    /*line-height: 4rem;*/
    /*font-size: 1rem;*/
/*}*/
/*.account:hover{*/
    /*background-color: rgba(135, 206, 250, 0.8);*/
    /**/
/*}*/
.big-box{
    /* width: 70%; */
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 20%;
}

.big-font{
    font-size:6rem;
    /*border-bottom: 0.1rem solid white;*/
    /*border-top: 0.1rem solid white;*/
    width: 100%;
    height: 6rem;
    line-height: 6rem;

    
}
.big-text{
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 3rem;
    color: #ffa64d;
}
.box-col{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
}

.three-box{
    width: 16rem;
    height: 16rem;
    background-color: rgba(248, 248, 255, 0.8);
    box-shadow: 0.2rem 0.2rem 0.5rem  gray;
    
}

.three-box:hover{
    animation: bounceInUp 1s;
    animation-fill-mode: forwards;
}
@keyframes bounceInUp {
    from{
        margin-top: 0;
    }
    to{
        margin-top: -20px;
    }
}
.footer{
     position: absolute;
      /*margin-top: 5rem;  */
    width: 100%;
    text-align: center;
    height: 2.5rem;
    border-top: 0.1rem solid white;
    color: white; 
    bottom: 0;
}
.footer>div>a{
    color: white;
    text-decoration: none;
}
.small-font{
    font-size: 0.4rem;
}



@media only screen and (max-width: 800px), only screen and (max-device-width:800px) {
    html,body {
        font-size:12.5px;
    }
    #member img{
        width: 100% !important;
        height: auto !important;
    }
}
@media only screen and (max-width: 720px), only screen and (max-device-width:720px) {
    html,body {
        font-size:11.25px;
    }
}
@media only screen and (max-width: 640px), only screen and (max-device-width:640px) {
    html,body {
        font-size:10px;
    }
    .three-box{
        width: 80%;
        height: 5rem;
        margin-top: 1rem;
    }
    @keyframes bounceInUp {

    }
    .box-col{
        display: flex;
        flex-direction: column;

    }
}
@media only screen and (max-width: 600px), only screen and (max-device-width:600px) {
    html,body {
        font-size:9.375px;
    }

}
@media only screen and (max-width: 540px), only screen and (max-device-width:540px) {
    html,body {
        font-size:8.4375px;
    }
    .mb-inner{
        width: 100%!important;
        margin:0 auto;
    }

}
@media only screen and (max-width: 480px), only screen and (max-device-width:480px) {
    html,body {
        font-size:7.5px;
    }
}
@media only screen and (max-width: 414px), only screen and (max-device-width:414px) {
    html,body {
        font-size:6.46875px;
    }
}
@media only screen and (max-width: 400px), only screen and (max-device-width:400px) {
    html,body {
        font-size:6.25px;
    }
}
@media only screen and (max-width: 375px), only screen and (max-device-width:375px) {
    html,body {
        font-size:5.859375px;
    }
}
@media only screen and (max-width: 360px), only screen and (max-device-width:360px) {
    html,body {
        font-size:5.625px;
    }
    .zhiku{
         height: 1.5rem;
         margin-left: 2rem;
     }
}
@media only screen and (max-width: 320px), only screen and (max-device-width:320px) {
    html,body {
        font-size:5px;
    }
}
@media only screen and (max-width: 240px), only screen and (max-device-width:240px) {
    html, body {
        font-size: 3.75px;
    }

}


.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{

    background-color: inherit;
    color: #6d9fb3;
}
.navbar-default .navbar-nav>li>a {
    color: #547a8a;
}

@media (min-width: 768px){

    .navbar {
        border-radius: 0;
    }
    .navbar-default .navbar-nav{
        display: flex;
        margin: 0 auto;
        width: 100%;
        justify-content: space-around;
        padding-top: 10px;
        padding-bottom: 10px;

    }
}

/*.navbar{*/
    /*position: relative;*/
/*}*/
.brand{
    position: absolute;
    background-color: white;
    border-radius: 1.5rem;
    width: 3rem;
    height: 3rem;
    left: 50%;
    margin-left: -1.5rem;
    bottom: -2rem;
    z-index: 111;
}

/*.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {*/
    /*background-color: #8a6d3b;*/
/*}*/
.navbar-default .navbar-toggle {
    border-color: #8a6d3b;
}
#index{
    background: url("../imgs/1.png") no-repeat center center fixed;
    -webkit-background: url("../imgs/1.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    background-position:center;
    background-size: cover;
    position: relative;
    margin-top: -20px;
}
.search{
    font-size: 3rem;
    padding: 10px 20px;
    margin-top: 30px;
    background-color: #1b6d85;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
}
.line{
    width: 8rem;
    height: 0.2rem;
    display: inline-block;
    background-color: #8a6d3b;
    vertical-align: middle;
}
.title{
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-size: 3rem;
    text-align: center;
    color: #8a6d3b;
}
.wrap{
    padding-bottom: 5vh;
    background-color: #fbf8f0;
    text-align: center;
}
.wrap:nth-child(odd){
    background-color: #f4eee3;
}
.box-item{
    width: 80%;
    height: 120px;
    margin:10px auto;
    border:1px solid #1b6d85;
    border-radius: 10px;
}
.entry-btn{
    margin-top: 20px;
}
.small-tag{
    font-size: 2rem;
    text-align: center;
    color: #1b6d85;
    margin-top: -3vh;
    margin-bottom: 5vh;
}
.icon-img{
    width: 8rem;
    height:8rem;
}

.row-line{
    width: 90%;
    /*height: 20rem;*/
    margin:20px auto;
    text-align: start;
}
.row-line:after{
    width: 100%;
    padding-top: 20px;
    border-bottom: 1px lightgray solid;
    margin-bottom: 20px;
}
#group>.row-line:after,.row-line:nth-last-child(1):after{
    border-bottom: 0 lightgray solid;
}
.that-blue{
    color: #1b6d85;
}
#group>.row-line:nth-child(odd)>.col-sm-1:nth-child(1),
#group>.row-line:nth-child(odd)>.col-sm-3{
    float: right;
}
input{
    margin: 20px auto;
}
textarea{
    margin-top: 20px;
    width: 80%;
    border: 1px lightgray solid;
    font-size: 1.5rem;
    line-height: 3rem;

}

.mb-inner{
    width: 70%;
    margin:0 auto;
}
#member img{
    width: 18vw;
    height: auto;
}
#loginbody,#registbody{
    background-image: url("../imgs/login.jpg");
    height: 30rem;
    background-size: cover;
}
@media only screen and (orientation:portrait ) {
    .big-box{
        /* width: 70%; */
        margin: 0 auto;
        text-align: center;
        color: white;
        padding-top: 45%;
    }
}
#loginOption{
    position: relative;
}
#exitLogin{
    /* display: none; */
    position: absolute;
    top: 50px;
    background-color: #f8f8f8;
}