.nav-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.dropdown{
    display: inline-block;
}
.mt{
    margin-top: 20px;
    /* min-width: 550px; */
}
html,body{
    background-color:  #fbf8f0;
}
.leftblue{
    border-left: 5px solid #2a809d;
    height: 15rem;
}
.bluefont{
    color: #2a809d;
    font-size: 1.8rem;
}
.date{
    color: gray;

}
.firstLine{
    display: flex;
    align-items: baseline;
}
.blackline{
    height: 2rem;
    line-height: 2rem;
}
.navbar-form{
    padding-right: 10px;
}
#searchBtn{
    margin-right: 20px;
}
@media only screen and (max-width: 540px), only screen and (max-device-width:540px) {
    
    .firstLine{
        flex-direction: column;
    }

}